{% extends "base.html" %}
{% block nav_admin %}active{% endblock %}
{% block header %}
<div class="navbar-brand navbar-text">{% block title %}Manage Operations{% endblock %}</div>

{% endblock %}

{% block subheader %}
<nav aria-label="breadcrumb" class="breadcrumb-bg">
    <div class="d-flex justify-content-between align-items-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('admin.index') }}">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Operations</li>
        </ol>
        {% if g.user %}
        <span class="text-muted pr-2">{{ g.user.EmpName.title() }}</span>
        {% endif %}
    </div>
</nav>
<p></p>
{% endblock %}

{% block content %}
  <table class="table table-bordered table-striped table-sm mx-auto w-auto">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Extended Name</th>
        <th>Op Code</th>
        <th>Op WageGroup</th>
        <th>Enabled</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for op in operations %}
      <tr>
        <form method="post">
          <input type="hidden" name="action" value="update_row">
          <input type="hidden" name="OpID" value="{{ op.OpID }}">
          <td>{{ op.OpID }}</td>
          <td>{{ op.OpName }}</td>
          <td>{{ op.OpNameExtended }}</td>
          <td>
            <input type="text" name="OpCode" value="{{ op.OpCode or '' }}" class="form-control" />
          </td>
          <td>
            <input type="text" name="OpWageGroup" value="{{ op.OpWageGroup or '' }}" class="form-control" />
          </td>
          <td class="text-center">
            <input type="checkbox" name="isEnabled" {% if op.isEnabled %}checked{% endif %} />
          </td>
          <td>
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
          </td>
        </form>
      </tr>
      {% endfor %}
      <tr>
        <form method="post">
          <input type="hidden" name="action" value="add">
          <td><input type="number" name="OpID" class="form-control" placeholder="(auto)"></td>
          <td><input type="text" name="OpName" class="form-control" placeholder="Required"></td>
          <td><input type="text" name="OpNameExtended" class="form-control"></td>
          <td><input type="text" name="OpCode" class="form-control" /></td>
          <td><input type="text" name="OpWageGroup" class="form-control" /></td>
          <td class="text-center">
            <input type="checkbox" name="isEnabled" checked />
          </td>
          <td>
            <button type="submit" class="btn btn-success btn-sm">Add</button>
          </td>
        </form>
      </tr>
    </tbody>
  </table>
{% endblock %}