<form method="post" id="fWO">
    <input type="hidden" name="form_id" value="fWO">
    <div class="dropdown bootstrap-select form-control">
        <select class="selectpicker form-control" id="wolist" data-style="btn-abas border-dark" data-container="body" data-live-search="true" title="Select a Work Order" >
            {% for w in workorders %}
            <option class="lead" value="{{ w.WONumber }}">{{ w.WONumber }} - {{ w.WOPart }} - {{ w.WODescription }}</option>    
            {% endfor %}
        </select>
    </div>
    <!-- <div class="form-floating">
        <select class="form-select" id="wolist" aria-label="Select Your WorkOrder">
            <option disabled selected value> ---- </option>
            {% for w in workorders %}
            <option value="{{ w.WONumber }}">{{ w.WONumber }} - {{ w.WOPart }} - {{ w.WODescription }}</option>    
            {% endfor %}
        </select>
        <label for="wolist">Select Your WorkOrder</label>
    </div> -->
</form>
<script>
    $(document).on('changed.bs.select', '#wolist', function() {
        var selectedWO = $(this).val();
        $.ajax({
            url: '/timesheet/ws',
            type: 'POST',
            data: { 'wo_list': selectedWO },
            success: function(data) {
                $('#ws_content').html(data);
            },
            error: function(error) {
                console.log('An error occurred:', error);
            }
        });
    });
</script>
