{% extends 'base.html' %}
{% block nav_timesheet %}active{% endblock %}
{% block header %}
<div class="navbar-brand navbar-text">{% block title %}Timesheet Entry{% endblock %}</div>
{% endblock %}
{% block subheader %}
<nav aria-label="breadcrumb" class="breadcrumb-bg">
    <div class="d-flex justify-content-between align-items-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('timesheet.index') }}">Timesheet</a></li>
            <li class="breadcrumb-item active" aria-current="page">Entry</li>
        </ol>
        {% if g.user %}
        <span class="text-muted pr-2">{{ g.user.EmpName.title() }}</span>
        {% endif %}
    </div>
</nav>
<p></p>
{% endblock %}
{% block content %}

<div class="container-fluid">
    <!-- User Lookup Form -->
    <form method="post" class="abasid-lookup">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Abas User ID</span>
            </div>
            <input type="text" class="form-control" name="abas_ID" id="abas_ID" aria-label="Abas User ID Input" aria-describedby="inputGroup-sizing-default" value="{{ abasID if abasID else g.user.EmpID }}">
            <div class="input-group-append">
                <button class="btn btn-abas" type="submit" name="button" id="btn-abasid" value="btn-abasid">Lookup</button>
              </div>
          </div>

    <!-- </form>  -->
    <!-- 
    {{ abasUser}}
    ID = 0
    Emp = 1
    EmpName = 2
    Dept = 3
    Supervisor = 4
    Wagegroup = 5
    SupervisorName = 6 
    -->

    <!-- Info Panel -->
    {% if abasUser %}
    <div class="info-panel card mb-4 border-dark">
        <div class="card-header bg-abas-info text-white">
            User Information
        </div>
        <div class="card-body compact-info-panel">
            <p><strong>Abas ID:</strong> {{ abasUser.EmpID }} | {{ abasUser.Emp }}</p>
            <p><strong>Name:</strong> {{ abasUser.EmpName }}</p>
            <p><strong>Department:</strong> {{ abasUser.Dept }}</p>
            <p><strong>Supervisor:</strong> {{ abasUser.SupervisorName }}</p>
        </div>
    </div>
     
    <!-- <form method="post"> -->
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-abas" type="submit" name="button" id="btnPrev" value="btnPrev"><<</button>          
                <span class="input-group-text" id="startDate">{{ startOfPrevWeek }}</span>
            </div>
            <input type="hidden" name="startDate" id="startDateInput" value="{{ startOfPrevWeek }}">
            <input type="hidden" name="endDate" id="startDateInput" value="{{ endOfPrevWeek }}">
            <!-- <input id="startDate" type="text" class="form-control text-center" placeholder="" aria-label="" aria-describedby="btnPrev" value="{{ startOfPrevWeek }}" readonly> -->
            <!-- <input id="endDate" type="text" class="form-control text-center" placeholder="" aria-label="" aria-describedby="btnNext" value="{{ endOfPrevWeek }}" readonly>         -->
            <div class="input-group-append">
                <span class="input-group-text" id="endDate">{{ endOfPrevWeek }}</span>        
                <button class="btn btn-abas" type="submit" name="button" id="btnNext" value="btnNext">>></button>
                <button class="btn btn-abas" type="submit" name="button" id="btnToday" value="btnToday">Today</button>
            </div>
        </div>
        <p></p>
    </form>

    <!-- Timecard Section -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 px-2" id="timecard">
        <!-- Card 1 -->
        {% for day in dateRangePrevWeek %}
        <div id="card_{{ day.date.replace('/', '_') }}" class="col my-2 px-2">
            <div class="card bg-light border-dark card-shadow">
                <div class="card-header text-center 
                    {% if day.date == today %}
                        bg-abas
                    {% elif day.isHoliday %}
                        bg-warning
                    {% elif day.date | dateformat('%A') in ['Saturday', 'Sunday'] %}
                        bg-secondary text-light                    
                    {% else %}
                        bg-dark2 text-light
                    {% endif %}
                ">
                    {{ day.date }} - {{ day.date | dateformat("%A") }}
                </div>
                <div class="card-body compact-card">
                    {% set ns = namespace(total_hours=0) %} <!-- Create a mutable namespace object -->
                    {% if timecard_data[day.date] %}
                        {% for t in timecard_data[day.date] %}
                        <div class="d-flex justify-content-between">
                            <p>{{ t.WSNumber }} {{ t.OpNameExtended }}</p>
                            <h5><span class="badge badge-secondary">{{ t.tHoursWorked }}</span></h5>
                        </div>
                        {% set ns.total_hours = ns.total_hours + t.tHoursWorked %} <!-- Accumulate the total -->
                        {% endfor %}
                    {% else %}
                        {% if day.isHoliday %}
                            <div class="d-flex justify-content-between">
                                <p class="font-italic">Holiday Hours</p>
                                <h5><span class="badge badge-secondary font-italic">8.00</span></h5>
                                {% set ns.total_hours = ns.total_hours + 8.00 %} <!-- Accumulate the total -->
                            </div>
                        {% else %}
                            <p>No data available for this date.</p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-footer compact-card-footer text-right">
                    <small>Total Hours: <span class="font-weight-bold">{{ ns.total_hours }}</span></small> <!-- Display the total hours -->
                </div>
            </div>
        </div>
        {% endfor %}


<!-- 
        {% for t in timesheetPrev %}
        <div class="col my-2">
            <div class="card bg-light border-dark card-shadow" >
                <div class="card-header text-center bg-dark2 text-light">{{ t.WorkDate }} - {{ t.WorkDate | dateformat("%A") }}</div>
                <div class="card-body compact-card">
                    <div class="d-flex justify-content-between">
                        <p>{{ t.WSNumber }} <br> {{ t.OpNameExtended }}</p>                             
                        <h5><span class="badge badge-secondary">8</span></h5> 
                    </div>
                </div>  
            </div>
        </div> 
        
    
         {% endfor %} -->
        <!-- Card 2 -->
        <!-- <div class="col my-2">
            <div class="card bg-light border-dark">
                <div class="card-header text-center bg-dark text-light font-weight-bold">04/01/2025 - Tues</div>
                <div class="card-body">
                    <h5 class="card-title">Card 2 Title</h5>
                    <p class="card-text">Weekday card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div> -->
        <!-- Card 3 -->
        <!-- <div class="col my-2">
            <div class="card bg-light border-dark ">
                <div class="card-header text-center bg-dark text-light font-weight-bold">04/02/2025 - Wed</div>
                <div class="card-body">
                    <h5 class="card-title">Card 3 Title</h5>
                    <p class="card-text">Weekday card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div> -->
        <!-- Card 4 -->
        <!-- <div class="col my-2">
            <div class="card bg-light border-dark " >
                <div class="card-header text-center bg-warning font-weight-bold">04/03/2025 - Thurs</div>
                <div class="card-body">
                    <h5 class="card-title">Card 4 Title</h5>
                    <p class="card-text">Holiday card. quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div> -->
        <!-- Card 5 -->
        <!-- <div class="col my-2">
            <div class="card bg-light border-dark ">
                <div class="card-header text-center bg-dark text-light font-weight-bold">04/04/2025 - Fri</div>
                <div class="card-body">
                    <h5 class="card-title">Card 5 Title</h5>
                    <p class="card-text">Weekday card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div> -->
        <!-- Card 6 -->
        <!-- <div class="col my-2">
            <div class="card bg-light border-dark ">
                <div class="card-header text-center bg-secondary text-light font-weight-bold">04/05/2025 - Sat</div>
                <div class="card-body">
                    <h5 class="card-title">Card 6 Title</h5>
                    <p class="card-text">Weekend day card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div> -->
        <!-- Card 7 -->
        <!-- <div class="col my-2">
            <div class="card bg-light border-dark ">
                <div class="card-header text-center bg-secondary text-light font-weight-bold">04/06/2025 - Sun</div>
                <div class="card-body">
                    <h5 class="card-title">Card 7 Title</h5>
                    <p class="card-text">Weekend day card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div> -->
    </div>
    {% endif %}
</div>
<p></p>
{% endblock %} <!-- end content block -->
{% block script %}
<!-- <script>
    function getTimeCardData(date, abasID) {
        // Sanitize the date for use in the HTML ID
        const sanitizedDate = date.replace(/\//g, '_');

        // Show a loading indicator while fetching data
        $('#card_' + sanitizedDate).find('.card-body').html('<p>Loading...</p>');

        $.ajax({
            url: '/timesheet/card', // Flask endpoint to fetch timecard data
            type: 'POST',
            data: { 'tsDate': date, 'abas_ID': abasID }, // Send date and user ID
            success: function(data) {
                if (data) {
                    // Update the card body with the fetched data
                    $('#card_' + sanitizedDate).find('.card-body').html(data);
                } else {
                    // Handle empty response
                    $('#card_' + sanitizedDate).find('.card-body').html('<p>No data available for this date.</p>');
                }
            },
            error: function(xhr, status, error) {
                // Handle errors gracefully
                console.error('AJAX Error:', status, error);
                console.error('Response:', xhr.responseText);
                $('#card_' + sanitizedDate).find('.card-body').html('<p>An error occurred while fetching data.</p>');
            }
        });
    }


</script> -->
{% endblock %}