{% extends 'base.html' %}
{% block head %}
<style>
@media screen and (min-width: 300px) and (orientation: portrait) {
    body {
        background: url("/static/images/kasa50thlogoVsm2.png") no-repeat center;
    }
}
@media screen and (min-width: 600px) and (orientation: landscape) {
    body {
        background: url("/static/images/kasa50thlogoSm2.png") no-repeat center;
    }
}
@media screen and (min-width: 800px) and (orientation: portrait) {
    body {
        background: url("/static/images/kasa50thlogoV.png") no-repeat center;
    }
}
@media screen and (min-width: 1000px) and (orientation: landscape) {
    body {
        background: url("/static/images/kasa50thlogo.png") no-repeat center;
    }
}
</style>
{% endblock %}
{% block title %}Home{% endblock %}
{% block nav_home %}active{% endblock %}
{% block header %}
<div class="navbar-brand navbar-text">Abas WebApp</div>

{% endblock %}
{% block subheader %}
{% if g.user %}
<nav aria-label="breadcrumb" class="breadcrumb-bg">
    <div class="d-flex justify-content-between align-items-center">
        <ol class="breadcrumb">
            
        </ol>
        
        <span class="text-muted py-2 pr-2">{{ g.user.EmpName.title() }}</span>
        
    </div>
</nav>
<p></p>
{% endif %}
{% endblock %}
{% block content %}

{% endblock %}

